[submodule "Common_project"]
	path = Common_project
	url = https://github.com/Hulk694/Common_project.git
	ignore = all
[submodule "slime/test/test_project"]
	path = slime/test/test_project
	url = https://github.com/Hulk694/test_project.git
